.itemsurah {
  background-color: lightblue;
  &:hover {
    background-color: rgb(49, 200, 251);
    transition: background-color 0.1s ease-in;
    cursor: pointer;
  }
}

.itemayat {
  background-color: lightblue;
  display: flex; 
  gap : 4rem;
  padding : 0 2rem;
  border-radius: .5rem;
  &>div {
    display: flex;
    flex-direction: column;
    gap: .1rem;
  }
  &:hover {
    background-color: rgb(49, 200, 251);
    transition: background-color 0.1s ease-in;
    cursor: pointer;
  }
}